.remote-video {
    border: 1px solid #cddfe7;
    height: 0;
    -webkit-box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    margin:3px;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .local-video {
    position: absolute;
    border: 1px solid #cddfe7;
    bottom: 20px;
    right: 15px;
    -webkit-box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 9px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    height: 32%;
  }

  .video-container {
    padding: 0 !important;
    position: inherit !important;
    height: auto !important;
  }

  .calling-user-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 100px;
    color: #ff6f00;
    line-height: 250px;
    text-align: center;
    font-family: monospace;
    margin: 10% 35%;
  }
  .btn-floating i{
    width: auto !important;
  }
  .call-buttons{
    position: absolute; bottom: 5%; z-index: 1; width: 100%; text-align: center;
  }
  .call-buttons button{
    margin: 0 6px;
  }
