<!-- Modal Structure -->
<div id="appointmentModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActions">
  <form [formGroup]="apptForm" (ngSubmit)="onSubmit()">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <app-error-success-details
            *ngIf="showSuccessErrorDetails"
            [isSuccess] = "isSuccess"
            [serverMessageInfo] = "serverMessageInfo"
          ></app-error-success-details>
          <h4>Appointment Details</h4>
          <div class="row">
            <div class="input-field col m6 s12">
              <div class="row" (click)="stopPropagation($event)">
                <div class="input-field col m6 s12" [ngClass]="{ 'has-error': submitted && f.fromDate.errors }">
                  <input id="from_date" formControlName="fromDate" type="text" materialize="pickadate"
                    [materializeActions]="fromDateActions" [materializeParams]="[{format: 'yyyy-mm-dd'}]">
                  <label for="from_date" [ngClass]="f.fromDate.value !== ''? 'active': ''">From date</label>
                  <span *ngIf="submitted && f.fromDate.errors" class="helper-text">
                    <span *ngIf="f.fromDate.errors.required">From date is required</span>
                  </span>
                </div>
                <div class="input-field col m6 s12" [ngClass]="{ 'has-error': submitted && f.fromTime.errors }">
                  <input id="from_time" formControlName="fromTime" type="text" materialize="pickatime"
                    [materializeActions]="fromTimeActions" [materializeParams]="[{twelvehour: false}]">
                  <label for="from_time" [ngClass]="f.fromTime.value !== ''? 'active': ''">From Time</label>
                  <span *ngIf="submitted && f.fromTime.errors" class="helper-text">
                    <span *ngIf="f.fromTime.errors.required">From time is required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="input-field col m6 s12">
              <div class="row" (click)="stopPropagation($event)">
                <div class="input-field col m6 s12" [ngClass]="{ 'has-error': submitted && f.toDate.errors }">
                  <input id="to_date" formControlName="toDate" type="text" materialize="pickadate"
                    [materializeActions]="toDateActions" [materializeParams]="[{format: 'yyyy-mm-dd'}]">
                  <label for="to_date" [ngClass]="f.toDate.value !== ''? 'active': ''">To Date</label>
                  <span *ngIf="submitted && f.toDate.errors" class="helper-text">
                    <span *ngIf="f.toDate.errors.required">To date is required</span>
                  </span>
                </div>
                <div class="input-field col m6 s12" [ngClass]="{ 'has-error': submitted && f.toTime.errors }">
                  <input id="to_time" formControlName="toTime" type="text" materialize="pickatime"
                    [materializeActions]="toTimeActions" [materializeParams]="[{twelvehour: false}]">
                  <label for="to_time" [ngClass]="f.toTime.value !== ''? 'active': ''">To Time</label>
                  <span *ngIf="submitted && f.toTime.errors" class="helper-text">
                    <span *ngIf="f.toTime.errors.required">To time is required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="input-field col s12" [ngClass]="{ 'has-error': submitted && f.apptTitle.errors }">
              <input id="appt_title" formControlName="apptTitle" type="text" class="validate">
              <label for="first_name" [ngClass]="f.apptTitle.value !== ''? 'active': ''">Title</label>
              <span *ngIf="submitted && f.apptTitle.errors" class="helper-text">
                <span *ngIf="f.apptTitle.errors.required">Title is required</span>
                <span *ngIf="f.apptTitle.errors.maxlength">Title must be maximum 100 characters</span>
                <span *ngIf="f.apptTitle.errors.minlength">Title must be at least 6 characters</span>
              </span>
            </div>
            <div class="input-field col s12" [ngClass]="{ 'has-error': submitted && f.apptDescription.errors }">
              <textarea id="appt_desc" formControlName="apptDescription" class="materialize-textarea"></textarea>
              <label for="first_desc" [ngClass]="f.apptDescription.value !== ''? 'active': ''">Description</label>
              <span *ngIf="submitted && f.apptDescription.errors" class="helper-text">
                <span *ngIf="f.apptDescription.errors.required">Description is required</span>
                <span *ngIf="f.apptDescription.errors.maxlength">Description must be maximum 500 characters</span>
                <span *ngIf="f.apptDescription.errors.minlength">Description must be at least 6 characters</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="closeModal()" class="modal-close waves-effect waves-red btn-flat">Close</button>
      <button *ngIf="!deleteAppointment" type="submit" class="waves-effect waves-green btn-flat">Submit</button>
      <button *ngIf="deleteAppointment" type="submit" class="waves-effect waves-red btn-flat">Delete</button>
    </div>
  </form>
</div>
