

<header>
  <div class="navbar-fixed">
    <nav class="navbar-color top-nav">
      <div class="nav-wrapper">
        <a [routerLink] = "'/'" class="brand-logo">Video App</a>
        <a href="#" materialize="sideNav" [materializeParams]="[options]" class="sidenav-trigger hide-on-med-and-up" data-activates="mobile-sidenav">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li *ngIf="!isLoggedIn" routerLinkActive="active"><a [routerLink] = "'/login'">Login</a></li>
          <li *ngIf="!isLoggedIn" routerLinkActive="active"><a [routerLink] = "'/signup'">Signup</a></li>
        </ul>
      </div>
    </nav>

    <ul *ngIf="!isLoggedIn" class="side-nav" id="mobile-sidenav">
      <li routerLinkActive="active"><a [routerLink] = "'/login'">Login</a></li>
      <li routerLinkActive="active"><a [routerLink] = "'/signup'">Signup</a></li>
    </ul>
  </div>
</header>
