<div class="col s12 m12 l12 white-text">
    <div class="video-container">
        <div class="remote-video call-initiating" *ngIf="callInitiated">
            <div class="light-blue lighten-5 calling-user-img pulse">TT</div>
            <div class="call-buttons">
                <button (click)="muteUnmute()" class="btn-floating waves-effect btn-large cyan">
                    <i *ngIf="mute" class="material-icons" title="Unmute">volume_off</i>
                    <i *ngIf="!mute" class="material-icons" title="Mute">volume_up</i>
                </button>
                <button class="btn-floating btn-large waves-effect waves-light red" title="Call End"><i class="material-icons">call_end</i></button>
            </div>
        </div>
        <div *ngIf="callStarted">
            <video class="remote-video" id="peerVideo" #peerVideo></video>
        </div>
        <video muted class="local-video" #myVideo></video>
    </div>
</div>
