<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
    <li class="user-details cyan darken-2">
      <div class="row" *ngIf="showSidebar">
        <div class="col s4 m4 l4">
          <div class="light-blue lighten-5 profile-image">{{loggedInUserDetails.firstName.toUpperCase().charAt(0)}}{{loggedInUserDetails.lastName.toUpperCase().charAt(0)}}</div>
        </div>
        <div class="col s8 m8 l8">
          <a materialize="dropdown" href='#' data-activates='profile-dropdown' class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn">
            <span class="user-name" title="{{loggedInUserDetails.firstName}} {{loggedInUserDetails.lastName}}">
              {{loggedInUserDetails.firstName}} {{loggedInUserDetails.lastName}}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
          <ul id="profile-dropdown" class="dropdown-content">
            <li routerLinkActive="active"><a [routerLink] = "'/dashboard'"><i class="material-icons">dashboard</i> Dashboard</a>
            </li>
            <li routerLinkActive="active"><a [routerLink] = "'/profile'"><i class="material-icons">face</i> Profile</a>
            </li>
            <li class="divider"></li>
            <li><a [routerLink] = "'/login'" (click)="doLogout()"><i class="material-icons">keyboard_tab</i> Logout</a>
            </li>
          </ul>
          <p class="user-roal">Doctor</p>
        </div>
      </div>
    </li>
    <div class="user-list-card card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="user-search-wrapper">
          <i class="material-icons">search</i>
          <input type="text" name="Search" class="user-search-input z-depth-2" placeholder="Search Patients">
        </div>
      </div>
      <div class="card-action">
        <perfect-scrollbar class="sidebar-scroll-container">
          <ul class="contacts">
            <li *ngFor="let user of userLists" [ngClass]="userUid === user.uid? 'active': ''" class="waves-effect waves-light" (click)="goToCommunication(user)">
              <div class="d-flex bd-highlight">
                <div class="light-blue lighten-5 chat-user-img">{{user.firstName.toUpperCase().charAt(0)}}{{user.lastName.toUpperCase().charAt(0)}}</div>
                <div class="user_info">
                  <span>{{user.firstName}} {{user.lastName}}</span>
                </div>
              </div>
            </li>
            </ul>
        </perfect-scrollbar>
      </div>
    </div>
  </ul>
  <a href="javascript:void(0)" data-activates="slide-out"
    class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i
      class="material-icons">menu</i></a>
</aside>

<ng-container *ngIf="showIncomingCall">
  <app-incoming-call
    [calleeDetails]="calleeDetails"
    [callerDetails]="callerDetails"
    (answerCall)="handleAnswerCall()"
    (rejectCall)="handleRejectCall()"
    >
  </app-incoming-call>
</ng-container>
