<div id="main">
  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <section id="content" class="communication-section">
      <div class="row height-100">
        <div class="col s12 m12 l12 height-100">
          <div class="chat-box-card card light-blue lighten-1">
            <div class="white-text card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                </div>
                <div class="user_info">
                  <span>Chat with Khalid</span>
                </div>
                <div class="video_cam">
                  <span><i class="material-icons">videocam</i></span>
                  <span><i class="material-icons">phone</i></span>
                </div>
              </div>
              <span id="action_menu_btn"><i class="material-icons">more_vert</i></span>
              <div class="action_menu msg-card-body" style="display: none;">
                <ul>
                  <li><i class="fas fa-user-circle"></i> View profile</li>
                  <li><i class="fas fa-users"></i> Add to close friends</li>
                  <li><i class="fas fa-plus"></i> Add to group</li>
                  <li><i class="fas fa-ban"></i> Block</li>
                </ul>
              </div>
            </div>
            <perfect-scrollbar class="my-scroll-container" #scrollMe>
              <div class="card-action msg-card-body">
                <div class="row">
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-start">
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                    <div class="msg_cotainer">
                      Hi, how are you samim?
                      <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                  <div class="col l12 m12 s12 d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                      Hi Khalid i am good tnx how about you?
                      <span class="msg_time_send">8:55 AM, Today</span>
                    </div>
                    <div class="img_cont_msg">
                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                    </div>
                  </div>

                </div>
              </div>
            </perfect-scrollbar>
            <div class="card-footer">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text attach_btn"><i class="material-icons">attachment</i></span>
                </div>
                <textarea autosize name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                  <span class="input-group-text send_btn"><i class="material-icons">send</i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
