<div id="main">
  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <section id="content" *ngIf="userDetailsLoaded">
      <div class="col s12 m12 l12 chat-header white-text">
        <div class="d-flex bd-highlight">
          <div class="light-blue lighten-5 chat-user-img top-user-info">{{userDetails.firstName.toUpperCase().charAt(0)}}{{userDetails.lastName.toUpperCase().charAt(0)}}</div>
          <div class="user_info">
            <span>Chat with {{userDetails.firstName}} {{userDetails.lastName}}</span>
          </div>
          <div class="video_cam">
            <a class="waves-effect waves-light btn-flat" (click)="startVideoCall()"><i class="material-icons">videocam</i></a>
            <a class="waves-effect waves-light btn-flat"><i class="material-icons">phone</i></a>
          </div>
        </div>
        <span id="action_menu_btn"><i class="material-icons">more_vert</i></span>
      </div>
      <perfect-scrollbar class="my-scroll-container" #scrollMe>
        <div class="col s12 m12 l12 chat-body">
          <div class="row">
            <div *ngFor="let chat of chatList"
            [ngClass]="loggedInUser.id !== chat.from ? 'justify-content-start' : 'justify-content-end mb-4'"
            class="col l12 m12 s12 d-flex pad-1">
              <div [ngClass]="loggedInUser.id === chat.from ? 'msg_cotainer_send' : 'img_cont_msg'">
                <span *ngIf="loggedInUser.id === chat.from">{{chat.message}}</span>
                <img *ngIf="loggedInUser.id !== chat.from" src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
              </div>

              <div [ngClass]="loggedInUser.id === chat.from ? 'img_cont_msg' : 'msg_cotainer'">
                <span *ngIf="loggedInUser.id !== chat.from">{{chat.message}}</span>
                <img *ngIf="loggedInUser.id === chat.from" src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
      <div class="col s12 m12 l12 chat-footer">
        <form [formGroup]="chatForm" (keyup.enter)="sendMessage()" (submit)="sendMessage()">
          <div class="input-group">
            <div class="input-group-append">
              <span class="waves-effect waves-light input-group-text attach_btn"><i class="material-icons">attachment</i></span>
            </div>
            <textarea (keyup)="resizeTextArea($event)" formControlName="chatMessage" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
              <button type="submit" class="waves-effect waves-light input-group-text send_btn"><i class="material-icons">send</i></button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
